@import 'tailwindcss';

@theme {
  --color-primary: #99e600;
  --color-secondary: #f4a460;
  --color-background-light: #f7f8f5;
  --color-background-dark: #1c230f;
}

:root {
  /* Primary Colors */
  --primary: #99e600;
  --secondary: #f4a460;

  /* Background Colors */
  --background-light: #f7f8f5;
  --background-dark: #1c230f;
}

html,
body {
  background-color: var(--background-light);
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}
